*{
    padding: 0;
    margin: 0;
}

.card1{
    background-color: yellow;
    height: 200px;
    width: 300px;

    /* padding: 10px 20px 5px 7px; */

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 7px;


    border-width: 10px;
    border-style: solid;
    border-color: green;
    border-radius: 20px;

}
.card2{
    background-color: red;
    height: 200px;
    width: 300px;


    /* margin: 20px; */
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 40px;


    border: 5px solid black;
    border-radius: 10px;
}



.circle{

    height: 300px;
    width: 300px;
    background-color: blue;
    margin: 20px;
    border: 3px solid black;
    border-radius: 50% ;
}