
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: orangered;

    display: flex;
    justify-content: center;
    align-items: center;

}

.outer > .inner{
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 15px;
    box-shadow: 2px 3px 5px black;
    border-radius: 15px;
    cursor: pointer;

    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;

    /* overflow-y: scroll; */

}

.inner > h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;


}

.inner > p{
    font-size: 19px;
    text-align: justify;
}


::-webkit-scrollbar{
    display: none;
}


.inner > h3{
    text-align: center;
    /* display: none; */


    visibility: hidden;
}

