
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: cadetblue;
    padding-top: 10px;
}

.outer > h1{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2.5px;
    text-transform: capitalize;
    color:white;    
    text-shadow: 2px 2px 3px black;
    
}



.outer > .card{
    height: 220px;
    width: 280px;
    /* border: 2px solid red; */
    display: inline-block;
    margin-left: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
}

.card > h2{
    text-align: center;
    margin-bottom: 9px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.card > p{
    font-size: 18px;
    margin-bottom: 15px;
}

.card > p:nth-child(3)
{
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.card > button{
    width: 100%;
    padding: 10px;
    background-color: skyblue;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color:white;
    font-size: 16px;
    letter-spacing: 1.3px;
    text-shadow: 1px 2px 2px black;
    cursor: pointer;
}

.card > button:hover{
    background-color: blue;
}