
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer > .inner{
    background-color: white;
    width: 400px;
    /* margin: 0 auto; */
    padding: 20px 40px;
}

.inner > h1{
    text-transform: uppercase;
    margin-bottom: 9px;
}

.inner > p:nth-child(2){

    font-size: 20px;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
}

.inner > form > input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;

    outline:  none;
}
.inner > form > label{
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.inner > form > button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: blue;
    color:white;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}


.inner > #p2
{
  margin-top: 10px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  display: inline;
}

.inner > a{
    text-decoration: none;
    font-size: 18px;
}


input::placeholder{
    font-size: 18px;
    
}

input:focus{
    border: 2px solid blue;
}