
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{

    height: 500px;
    width: 800px;
    background-color: chocolate;
}

.outer > .box{
    height: 80px;
    width: 100px;
    border: 3px solid white;
}


.outer > #box1{
    display: inline-block;
    
}
.outer > #box2{
    display: inline-block;
    
}
.outer > #box3{
    display: inline;  
}


.card{
    background-color: black;
    width: 400px;
    margin: 50px;
    padding: 20px 40px;
    border-radius: 14px;
    box-shadow: 2px 4px 5px black;
}

.card > button{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: orange;
    color:white;
    border: none;
    font-size: 20px;
    text-shadow: 1px 2px 2px black;
}

.card > button:hover{
    background-color: orangered;
}


.card2{
    background-color: skyblue;
    width: 400px;
    margin-left: 20px;

    box-shadow: 3px 4px 5px black;
    border-radius: 12px;
    padding: 20px 40px;
    margin-bottom: 60px;
}


.card2 > button{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    background-color: black;
    color:white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-shadow:3px 3px 2px green;
}

.card2 > button:hover{
    background-color: red;
}