
/* 1. tagname selector */

header{

    background-color: yellow;
   
}

/* 2. id selector */

#topic{
  color:blue;
  text-shadow: -5px -5px 2px black;
}

/* class name selector */

.card{
    background-color: brown;
    height: 200px;
    width: 300px;
    text-align: center;
}

/* universal selector */

*{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* group selector */


h3 , h4 , b , #topic, .italic {
    letter-spacing: 3px;
    text-decoration: underline;

    text-transform: capitalize;
}
