*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    background-color: black;
    height: 100vh;
    display: flex;
    
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:100px;
}

.outer > h1{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.outer > .inner{
    height: 200px;
    width: 200px;
    background-color: yellow;

     /* transition: all 3s linear 1s; */

     transition-property: all;
     transition-duration: 3s;
     transition-timing-function: ease-in;
     transition-delay: 1s;

}

.outer > .inner:hover{
    border-radius: 50%;
    background-color: red;
}