
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&display=swap');

p{
    font-size: 20px;
    font-weight: bold;

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

     /* font-family: "Playwrite NZ Guides", cursive; */
      /* font-family: "Noto Sans Syriac", sans-serif; */

     font-family: "Science Gothic", sans-serif;
}

h2{
   font-style:italic;

}